<pluginMetaData path="cschultz-mfa-auth">
  <name>MFA Authenticator</name>
  <author>Christopher Schultz</author>
  <pluginVersion>0.1</pluginVersion>
  <mirthVersion>3.10.1, 3.10.0, 3.9.0, 3.8.1, 3.8.0</mirthVersion>
  <url>https://github.com/ChristopherSchultz/mirth-plugins/tree/master/mfa-auth</url>
  <description>Provides multi-factor authentication.</description>
  <serverClasses>
    <string>net.christopherschultz.mirth.plugins.auth.mfa.MFAAuthenticatorPlugin</string>
  </serverClasses>
  <clientClasses>
    <string>net.christopherschultz.mirth.plugins.auth.mfa.MFAAuthenticationClientPlugin</string>
  </clientClasses>
  <library type="CLIENT" path="cschultz-mfa-auth-client.jar" />
  <library type="SERVER" path="cschultz-mfa-auth-server.jar" />
  <library type="SERVER" path="java-totp-1.0.jar" />
</pluginMetaData>
