<pluginMetaData path="cschultz-ldap-auth">
  <name>LDAP Authenticator</name>
  <author>Christopher Schultz</author>
  <pluginVersion>0.1</pluginVersion>
  <mirthVersion>4.4.2, 4.1.1, 4.1.0, 4.0.0, 3.12.0, 3.11.0, 3.10.1, 3.10.0, 3.9.0, 3.8.1, 3.8.0</mirthVersion>
  <url>https://github.com/ChristopherSchultz/mirth-plugins/tree/master/ldap-auth</url>
  <description>Authenticates against an LDAP server.</description>
<!--
  <clientClasses>
    <string>net.christopherschultz.mirth.plugins.auth.ldap.LDAPAuthenticatorConfigurationClientPlugin</string>
  </clientClasses>
 -->
   <serverClasses>
    <string>net.christopherschultz.mirth.plugins.auth.ldap.LDAPAuthenticatorPlugin</string>
  </serverClasses>
<!--
  <library type="CLIENT" path="cschultz-ldap-auth-client.jar" />
-->
  <library type="SERVER" path="cschultz-ldap-auth-server.jar" />
</pluginMetaData>
